version: "3.8"

services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: openwebui
    restart: always
    ports:
      - "3000:3000"

  fastapi:
    build: ./api
    container_name: fastapi
    restart: always
    ports:
      - "8001:8000"

volumes:
  ollama_models:
